DB_HOST=localhost
DB_PORT=5432
DB_NAME=yourdbname
DB_USER=postgres
DB_PASSWORD=yourpassword

JWT_KEY=32_characters_or_more_are_required_to_maximize_security
JWT_ISSUER=RuanganKita
JWT_AUDIENCE=RuanganKitaUsers
JWT_DURATION_MINUTES=60

FRONTEND_PORT=http://localhost:5173